.navbar {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    opacity: 0.8;
    background-color: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(2px);
    z-index: 2;
    padding: 0 32px;
}

.nav-links {
    cursor: pointer;
    padding: 8px 18px;
    border-radius: 4px;
    transition: background 0.2s;
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
    background: transparent;
    border: none;
    color: white;
}

.nav-links:hover {
    background: #002244;
}